<a href="https://colab.research.google.com/github/Ravikumar10593-hub/15daybootcamp/blob/main/Day_11_ML_Naive_bayes(3_type).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Naive Bayes

**p(a/b)=(p(b/a)*p(a))p(b)**

*P(a/b)- What is the prob of a if b is true*

a and b are events and p(b) is not 0

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Tennis data set

In [2]:
data=pd.read_csv('/content/tennis.csv')

In [3]:
data.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [4]:
data.shape

(14, 5)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   outlook   14 non-null     object
 1   temp      14 non-null     object
 2   humidity  14 non-null     object
 3   windy     14 non-null     bool
 4   play      14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [6]:
data.describe()

       outlook  temp humidity  windy play
count       14    14       14     14   14
unique       3     3        2      2    2
top      sunny  mild     high  False  yes
freq         5     6        7      8    9

In [7]:
#seperate x and y
x=data.drop('play',axis=1)
y=data['play']

In [8]:
#get dummies for categorical variable
x_data=pd.get_dummies(x,drop_first=True)

In [9]:
x_data.head()

   windy  outlook_rainy  outlook_sunny  temp_hot  temp_mild  humidity_normal
0  False              0              1         1          0                0
1   True              0              1         1          0                0
2  False              0              0         1          0                0
3  False              1              0         0          1                0
4  False              1              0         0          0                1

In [10]:

x_data['windy'] = x_data['windy'].map({True:1,
                                     False:0})

In [11]:
x_data

    windy  outlook_rainy  outlook_sunny  temp_hot  temp_mild  humidity_normal
0       0              0              1         1          0                0
1       1              0              1         1          0                0
2       0              0              0         1          0                0
3       0              1              0         0          1                0
4       0              1              0         0          0                1
5       1              1              0         0          0                1
6       1              0              0         0          0                1
7       0              0              1         0          1                0
8       0              0              1         0          0                1
9       0              1              0         0          1                1
10      1              0              1         0          1                1
11      1              0              0         0          1                0
12      0              0              0         1          0                1
13      1              1              0         0          1                0

In [12]:
#temp=cool,hum=high, wind=strong, outlook=sunny

from sklearn.naive_bayes import BernoulliNB
b_nb= BernoulliNB()
b_nb.fit(x_data,y)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [14]:
pre=b_nb.predict(x_data)

In [15]:
pre

array(['no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 'yes', 'yes',
       'yes', 'yes', 'yes', 'yes'], dtype='<U3')

In [16]:
y
#compare p and y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: play, dtype: object

In [17]:
x_data

    windy  outlook_rainy  outlook_sunny  temp_hot  temp_mild  humidity_normal
0       0              0              1         1          0                0
1       1              0              1         1          0                0
2       0              0              0         1          0                0
3       0              1              0         0          1                0
4       0              1              0         0          0                1
5       1              1              0         0          0                1
6       1              0              0         0          0                1
7       0              0              1         0          1                0
8       0              0              1         0          0                1
9       0              1              0         0          1                1
10      1              0              1         0          1                1
11      1              0              0         0          1                0
12      0              0              0         1          0                1
13      1              1              0         0          1                0

# We are using bernoulis naive bayes becz all data is in 0 and 1 ,i.e, continouous value

In [18]:
#temp=cool,hum=high, wind=strong, outlook=sunny
#let's predict this

b_nb.predict([[1,0,1,0,0,0]])

array(['no'], dtype='<U3')

**It predicted that we should not play**

# Min max scalar-

gives value from 0 to 1

# Scaler

gives values from -1 to +1

# **Multinominal NB**

In [19]:
# now we need to apply Multinominal NB

from sklearn.naive_bayes import MultinomialNB
m_nb=MultinomialNB()
m_nb.fit(x_data,y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [20]:
m_pred=m_nb.predict(x_data)

In [21]:
m_pred

array(['no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes', 'yes', 'yes', 'yes'], dtype='<U3')

In [22]:
#temp=cool,hum=high, wind=strong, outlook=sunny
#let's predict this

m_nb.predict([[1,0,1,0,0,0]])

array(['no'], dtype='<U3')

# GaussianNB

In [23]:
from sklearn.naive_bayes import GaussianNB
g_nb=MultinomialNB()
g_nb.fit(x_data,y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [26]:
g_pred=g_nb.predict(x_data)

In [27]:
g_pred

array(['no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes', 'yes', 'yes', 'yes'], dtype='<U3')

In [28]:
#temp=cool,hum=high, wind=strong, outlook=sunny
#let's predict this

g_nb.predict([[1,0,1,0,0,0]])

array(['no'], dtype='<U3')