<a href="https://colab.research.google.com/github/Ravikumar10593-hub/15daybootcamp/blob/main/Day_10_ML(ii)_XG%2CKfold.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing the lib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv('/content/Data.csv')

In [4]:
data.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [5]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [6]:
#splitting
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

# Xgboost algorithm

In [7]:
from xgboost import XGBClassifier
clf= XGBClassifier()
clf.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [10]:
#accuracy

from sklearn.metrics import accuracy_score,confusion_matrix

y_pred=clf.predict(x_test)
accuracy_score(y_pred,y_test)

0.9781021897810219

In [11]:
print(confusion_matrix(y_pred,y_test))

[[84  0]
 [ 3 50]]

In [12]:
#mean of all acc of the model
#apply k fold cross validation

# k fold cross validation


*   take k value as odd ,eg: k=3
*   when k=1 in first iteration, the first col will be used for testing and remaning will be used as training

In [14]:
#applying k fold

from sklearn.model_selection import cross_val_score

acc= cross_val_score(estimator=clf,X=x_train,y=y_train,cv=20)

print(acc.mean()*100)

96.52777777777779