<a href="https://colab.research.google.com/github/Ravikumar10593-hub/15daybootcamp/blob/main/Day_15_ML(iris_deployment).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('/content/iris.csv')

In [3]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
data['Species'].unique()

array([0, 1, 2])

In [5]:
data['Species']=data['Species'].map({'Iris-setosa':0,
                                     'Iris-versicolor':1,
                                     'Iris-virginica':2})

In [7]:
#Now x and y
x=data.drop('Species',axis=1)
y=data['Species']

In [9]:
x.drop('Id',axis=1,inplace=True)

In [10]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [11]:
y.value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64

In [12]:
#training and testing

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [14]:
print(x_train.shape,y_train.shape)

(120, 4) (120,)

In [15]:
#Implement random forest classifier

from sklearn.ensemble import RandomForestClassifier

model=RandomForestClassifier()

model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [16]:
predict=model.predict(x_test)

In [17]:
predict

array([2, 2, 0, 2, 0, 0, 0, 2, 0, 2, 2, 0, 0, 2, 1, 2, 1, 0, 1, 2, 2, 0,
       1, 2, 1, 2, 1, 2, 0, 1])

In [19]:
y_test

103    2
137    2
37     0
140    2
25     0
48     0
13     0
110    2
0      0
149    2
144    2
28     0
36     0
102    2
78     1
147    2
80     1
2      0
60     1
113    2
123    2
17     0
52     1
121    2
55     1
141    2
69     1
116    2
26     0
94     1
Name: Species, dtype: int64

In [20]:
from sklearn.metrics import accuracy_score

accuracy_score(predict,y_test)

1.0

In [21]:
#convert into pickle

import pickle

In [23]:
with open("final_session.pickle",'wb') as f:
  pickle.dump(model,f)

In [24]:
#Decsion tree

from sklearn.tree import DecisionTreeClassifier
trees=DecisionTreeClassifier()
trees.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [25]:
predict2=trees.predict(x_test)

In [26]:
from sklearn.metrics import accuracy_score

accuracy_score(predict2,y_test)

1.0

In [27]:
with open("final_session.pickle",'wb') as f:
  pickle.dump(model,f) 
  pickle.dump(trees,f)