<a href="https://colab.research.google.com/github/Ravikumar10593-hub/15daybootcamp/blob/main/exercise_rest_walk_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Loding the dataset using seaborn**

In [4]:
df=sns.load_dataset("exercise")
df.head(5)

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

In [5]:
#shape of the data
df.shape

(90, 6)

In [6]:
df.isnull().sum()
# so we get to know that we don't have any null values in this dataset

Unnamed: 0    0
id            0
diet          0
pulse         0
time          0
kind          0
dtype: int64

In [7]:
#let's see the columns
df.columns

Index(['Unnamed: 0', 'id', 'diet', 'pulse', 'time', 'kind'], dtype='object')

In [8]:
df.head(3)

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest

In [9]:
#we are trying to convert lowfat to '0' and no_fat to '1'

def convert_df(x):
  if x=='low fat':
    return 0
  else:
    return 1

In [11]:
df['tras_diet']=df['diet'].apply(convert_df)
df

    Unnamed: 0  id     diet  pulse    time     kind tras_diet
0            0   1  low fat     85   1 min     rest         0
1            1   1  low fat     85  15 min     rest         0
2            2   1  low fat     88  30 min     rest         0
3            3   2  low fat     90   1 min     rest         0
4            4   2  low fat     92  15 min     rest         0
..         ...  ..      ...    ...     ...      ...       ...
85          85  29   no fat    135  15 min  running         1
86          86  29   no fat    130  30 min  running         1
87          87  30   no fat     99   1 min  running         1
88          88  30   no fat    111  15 min  running         1
89          89  30   no fat    150  30 min  running         1

[90 rows x 7 columns]

In [23]:
#feature eng the time column and removing the "min"
def convert_time(x):
  p=x.partition(' ')
  return p[0]

In [24]:
df['tras_time']=df['time'].apply(convert_time)
df

    Unnamed: 0  id  pulse    time     kind tras_diet tras_time
0            0   1     85   1 min     rest         0         1
1            1   1     85  15 min     rest         0        15
2            2   1     88  30 min     rest         0        30
3            3   2     90   1 min     rest         0         1
4            4   2     92  15 min     rest         0        15
..         ...  ..    ...     ...      ...       ...       ...
85          85  29    135  15 min  running         1        15
86          86  29    130  30 min  running         1        30
87          87  30     99   1 min  running         1         1
88          88  30    111  15 min  running         1        15
89          89  30    150  30 min  running         1        30

[90 rows x 7 columns]

#Let's apply logistic regression

In [26]:
df.drop('diet',axis=1,inplace=True)
df.drop('time',axis=1,inplace=True)

In [35]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [37]:
X=df.drop('kind',axis=1)
y=df['kind']
print(X.shape)
print(y.shape)

(90, 4)
(90,)

In [38]:
#After dropping target variable
print(X)

    id  pulse tras_diet tras_time
0    1     85         0         1
1    1     85         0        15
2    1     88         0        30
3    2     90         0         1
4    2     92         0        15
..  ..    ...       ...       ...
85  29    135         1        15
86  29    130         1        30
87  30     99         1         1
88  30    111         1        15
89  30    150         1        30

[90 rows x 4 columns]

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [40]:
#splitting the data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4)

In [41]:
#Logistic reg
logr=LogisticRegression()
logr.fit(X_train,y_train)
y_pred=logr.predict(X_test)
print(metrics.accuracy_score(y_test,y_pred))

0.9444444444444444

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [42]:
X.head(5)

   id  pulse tras_diet tras_time
0   1     85         0         1
1   1     85         0        15
2   1     88         0        30
3   2     90         0         1
4   2     92         0        15

In [43]:
logr.predict([[3,56,1,6]])

array(['rest'], dtype=object)