*List is a collection which is ordered and changeable. 
Allows duplicate members.*

*Tuple is a collection which is ordered and unchangeable.
Allows duplicate members.*

*Set is a collection which is unordered and unindexed.
No duplicate members.*

*Dictionary is a collection which is ordered and changeable.
No duplicate members.*

# List

In [2]:
mylist=["apple","banana","cherry"]

In [8]:
print(mylist) #printing the string type list

['apple', 'banana', 'cherry']

In [9]:
print(len(mylist))

3

In [10]:
print(type(mylist))

<class 'list'>

In [11]:
mylist.insert(2,"watermelon") #insering at particular position
print(mylist)

['apple', 'banana', 'watermelon', 'cherry']

In [12]:
mylist.append("orange") #appending data in the list

In [13]:
print(mylist)

['apple', 'banana', 'watermelon', 'cherry', 'orange']

In [14]:
mlist=["papaya"]

In [15]:
mylist.extend(mlist)
print(mylist)

['apple', 'banana', 'watermelon', 'cherry', 'orange', 'papaya']

In [16]:
mylist.remove("papaya")

In [17]:
print(mylist)

['apple', 'banana', 'watermelon', 'cherry', 'orange']

In [18]:
mylist.insert(0,"lichi")
print(mylist)

['lichi', 'apple', 'banana', 'watermelon', 'cherry', 'orange']

In [19]:
mylist.remove("lichi")
mylist

['apple', 'banana', 'watermelon', 'cherry', 'orange']


for list

1.pop and insert is used for particular position

2.append and remove is used for random position

In [20]:
for item in mylist:
    print(item)

apple
banana
watermelon
cherry
orange

In [21]:
mylist.sort() #sorting ascending
print(mylist)

['apple', 'banana', 'cherry', 'orange', 'watermelon']

In [22]:
mylist.sort(reverse=True) #sorting descending
print(mylist)

['watermelon', 'orange', 'cherry', 'banana', 'apple']

In [23]:
print(mylist)
mylist.reverse() 
print(mylist)

['watermelon', 'orange', 'cherry', 'banana', 'apple']
['apple', 'banana', 'cherry', 'orange', 'watermelon']

In [24]:
thislist=mylist.copy() #copying the data from one list to another
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'watermelon']

# Tuple

In [33]:

mytuple = ("apple", "banana", "cherry")

print(mytuple)

('apple', 'banana', 'cherry')

In [34]:
mytuple.append("berry")

AttributeError: 'tuple' object has no attribute 'append'

In [36]:
x=list(mytuple)
x.insert(2,"mango")
x

['apple', 'banana', 'mango', 'cherry']

In [40]:
x.remove("apple")

In [41]:
x

['banana', 'cherry']

In [35]:
del mytuple["apple"]

TypeError: 'tuple' object does not support item deletion

# set

In [46]:

myset = {"apple", "banana", "cherry","cherry"}
#we can't do the dupliocate in set
myset

{'apple', 'banana', 'cherry'}

In [47]:
myset.add("orange")

In [48]:
print(myset)

{'apple', 'banana', 'cherry', 'orange'}

In [49]:
del myset["orange"]

TypeError: 'set' object does not support item deletion

In [50]:
x=list(myset)

In [51]:
type(x)

list

In [52]:
x

['apple', 'banana', 'cherry', 'orange']

In [58]:
x.remove("orange")

In [59]:
x

['apple', 'banana', 'cherry']

# Dictionaries

In [60]:

mydict={
    "name":"ravi",
    "dept":"cse",
    "year":4
}

In [73]:
 mydict

{'name': 'ravi', 'dept': 'cse', 'year': 4}

In [72]:
print(mydict["name"])

ravi

In [74]:
mydict.update({"grade":"pass"})
print(mydict)

{'name': 'ravi', 'dept': 'cse', 'year': 4, 'grade': 'pass'}

In [75]:
del mydict["grade"]

In [76]:
mydict

{'name': 'ravi', 'dept': 'cse', 'year': 4}

In [77]:
x=list(mydict)

In [78]:
x

['name', 'dept', 'year']